<div class="login-card">
    <div class="card">
        <div class="card-body">
            <label for="Name">Username:</label>
                <input class="form-control" type="text" id="username" [(ngModel)]="username"/>
                <label for="Name">Password:</label>
                <input class="form-control" type="password" id="password" [(ngModel)]="password"/>
            <br>

                
                <button class="form-control btn-primary mt-25" (click)="login()">Login</button>
        </div>
    </div>
</div>

