/* You can add global styles to this file, and also import other style files */
.card {
    --bs-card-spacer-y: 30px;
    --bs-card-spacer-x: 30px;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: #2A3547;
    --bs-card-subtitle-color: #2A3547;
    --bs-card-border-width: 0px;
    --bs-card-border-color: #ebf1f6;
    --bs-card-border-radius: 7px;
    --bs-card-box-shadow: rgba(145,158,171,0.2) 0px 0px 2px 0px,rgba(145,158,171,0.12) 0px 12px 24px -4px;
    --bs-card-inner-border-radius: 7px;
    --bs-card-cap-padding-y: 15px;
    --bs-card-cap-padding-x: 30px;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb),0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 12px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    -webkit-box-shadow: var(--bs-card-box-shadow);
    box-shadow: var(--bs-card-box-shadow);
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}
.card-title {
    font-size: 18px;
    margin-bottom: 1.5rem !important;
    margin-top: 0 !important;
}
.fw-semibold {
    font-weight: 600!important;
}

.card-tabel {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .card-tabel  td, .card-tabel  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .card-tabel  tr:nth-child(even){background-color: #f2f2f2;}
  
  .card-tabel  tr:hover {background-color: #ddd;}
  
  .card-tabel  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0d1a7f;
    color: white;
  }

  /* button */
  
  .btn {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 14px;
  }
  .btn-primary {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA !important;
  }
  
  .btn-primary:hover {
    background-color: #008CBA;
    color: white;
  }

  .btn-danger {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
  }
  
  .btn-danger:hover {
    background-color: #f44336;
    color: white;
  }

  /* input */
  .form-control{
    display: block;
    width: 50%;
    padding: 8px 16px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5A6A85;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #DFE5EF;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 7px;
    margin:3% 0;
  }
  .mt-25{
    margin-top: 25px;
  }